* {
  margin: 0;
  font-family: 'Muli', sans-serif;
}
body {
  display: flex;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  width: 60%;
}

.intro {
  background-color: #0D132C;
  color: #E0E1D7;
  height: 33.33%;
  width: 66.66%;
}

.intro h1 {
  font-family: 'Handlee', cursive;
  font-size: 3.5em;
  margin: 3px 60px;
}

.quote {
  font-family: 'Handlee', cursive; 
  font-size: 1.5em;
  font-weight: lighter;
  margin: 10px;
  margin-left: 15px; 
}

nav {
  margin-left: 10px;
  margin-top: 30px;
}

.info-boxes {
  background: transparent;
  border: 1px solid #E0E1D7;
  color: #E0E1D7;
  display: inline;
  font-size: 1em;
  margin: 0 10px;
  padding: 10px;
}

.info-boxes p {
  display: inline;
}

.button-image {
  width: 15px;
  margin-right: 5px; 
}

p {
  font-weight: bolder;
}


.box {
  color: #0D132C;
  font-size: 1.5em;
  height: 33.33%;
  position: relative;
  text-align: center;
  width: 33.33%;
}

.photos {
  background-color: #4F5BBA;
}

.maps {
  background-color: #F6C14C;
}

.budget {
  background-color: #C8443C;
}

.locations {
  background-color: #A7BAEE;
}

.videos {
 background-color: #0D132C;
 color: #E0E1D7;
}

.flights {
 background-color: #A7BAEE;
  
}

.plans {
 background-color: #F6C14C;
}

.icon {
 height: 60px;
 margin-top: 77px;
 width: 60px;
}

.right-side {
  background-image: url("images/south-west-wing-2.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 40%;
}

.arrow {
  width: 30px;
  height: 30px;
  position: relative;
  top: 50%;
}

.left-arrow {
  position: absolute;
  padding-left: 10px;}

.right-arrow {
  position: absolute;
  right: 10px;
}

.circle-container {
  position: absolute;
  right: 10px;
  top: 5px;
}

.circle {
  width: 15px;
  height: 15px;
  opacity: .9;
}

.other {
  opacity: .6;
}

@media screen and (max-width: 1160px) {
   .intro h1 {
     font-size: 2.8em;
   }
}

@media screen and (max-width: 990px) {
  .intro h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 915px) {
  .intro h1 {
    font-size: 2.2em;
  }

  .quote {
    font-size: 1.4em; 
  }

  .info-boxes {
    font-size: .8em;
  }
}

@media screen and (max-width: 840px) {
  .intro h1 {
    font-size: 2em;
  }

  .quote {
    font-size: 1.2em;
  }

  .box {
    width: 66.66%;
  }

  /*.right-side {
    width: 66.66%;
  }*/
}




