* {
  margin: 0;
  font-family: 'Muli', sans-serif;
}
body {
  display: flex;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  width: 60%;
}

.intro {
  background-color: #0D132C;
  color: #E0E1D7;
  height: 33.33%;
  width: 66.66%;
}

.intro h1 {
  font-family: 'Handlee', cursive;
  font-size: 3.5em;
  margin: 3px 60px;
}

.quote {
  font-family: 'Handlee', cursive; 
  font-size: 1.5em;
  font-weight: lighter;
  margin: 10px;
  margin-left: 15px; 
}

nav {
  margin-left: 10px;
  margin-top: 30px;
}

.info-boxes {
  background: transparent;
  border: 1px solid #E0E1D7;
  color: #E0E1D7;
  display: inline;
  font-size: 1em;
  margin: 0 10px;
  padding: 10px;
}

.info-boxes p {
  display: inline;
}

.button-image {
  width: 15px;
  margin-right: 5px; 
}

p {
  font-weight: bolder;
}


.box {
  color: #0D132C;
  font-size: 1.5em;
  height: 33.33%;
  position: relative;
  text-align: center;
  width: 33.33%;
}

.photos {
  background-color: #4F5BBA;
}

.maps {
  background-color: #F6C14C;
}

.budget {
  background-color: #C8443C;
}

.locations {
  background-color: #A7BAEE;
}

.videos {
 background-color: #0D132C;
 color: #E0E1D7;
}

.flights {
 background-color: #A7BAEE;
  
}

.plans {
 background-color: #F6C14C;
}

.icon {
 height: 60px;
 margin-top: 30%;
 width: 60px;
}

.right-side {
  background-image: url("images/south-west-wing-2.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 40%;
}

.arrow {
  width: 30px;
  height: 30px;
  position: relative;
  top: 50%;
}

.left-arrow {
  position: absolute;
  padding-left: 10px;}

.right-arrow {
  position: absolute;
  right: 10px;
}

.circle-container {
  position: absolute;
  right: 10px;
  top: 5px;
}

.circle {
  width: 15px;
  height: 15px;
  opacity: .9;
}

.other {
  opacity: .6;
}

@media screen and (max-width: 1631px){
  .icon {
    margin-top: 33%;
  }
}

@media screen and (max-width: 1400px){
  .icon {
    margin-top: 35%;
  }
}

@media screen and (max-width: 1160px) {
   .intro h1 {
     font-size: 2.8em;
   }

   .icon {
    margin-top: 40%;
   }
}

@media screen and (max-width: 990px) {
  .intro h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 920px) {
  .left-side {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  .quote {
    font-size: 1.1em;
  }

  .box {
    width: 50%;
    height: 25%;
  }

  .right-side {
    width: 50%;
  }

  .intro {
    width: 50%;
    height: 25%;
  }

  .intro h1 {
    font-size: 1.6em;
  }

  .info-boxes {
    display: none; 
  }

  .flights {
    background-color: #4F5BBA;
  }
}

@media screen and (max-width: 896px) {
  .quote {
    font-size: 1em;
  }
}

@media screen and (max-width: 890px) {
  .quote {
    font-size: .85em;
  }
  
  .info-boxes {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .quote {
    font-size: .95em;
  }
}

@media screen and (max-width: 720px) {

  .left-side {
    width: 100%;
  }

  .intro {
    width: 66.66%;
  }

  .intro h1 {
    font-size: 4em;
  }

  .quote {
    font-size: 2em;
  }

  .box {
    width: 100%;
  }

  .flights {
    background-color: #4F5BBA;
  }

  body {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .intro {
    width: 100%;
  }

  .right-side {
    width: 100%;
  }

  .arrow {
    display: none;
  }

  .circle {
    display: none;
  }

  .icon {
    margin-top: 10%;
  }
}


@media screen and (max-width: 565px){

  .quote {
    font-size: 1.5em;
  }

  .icon {
    margin-top: 
  }
}


@media screen and (max-width: 515px) {
  .intro h1 {
    font-size: 3.2em;
  }

  .quote {
    font-size: 1.5em;
  }

  .icon {
    margin-top: 
  }
}

@media screen and (max-width: 435px) {
  .intro h1 {
    font-size: 3em;
  }

  .quote {
    font-size: 1.5em;
  }

  .icon {
    margin-top: ;
  }
}

@media screen and (max-width: 415px) {
  .intro h1 {
    font-size: 2.45em;
  }

  .quote {
    font-size: 1.3em;
  }

  .icon {
    margin-top: 
  }
}

@media screen and (max-width: 375px) {
  .icon {
    margin-top: 20%;
  }
}



