* {
  margin: 0;
  font-family: 'Muli', sans-serif;
}
body {
  display: flex;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  width: 60%;
}

.intro {
  background-color: #0D132C;
  color: #E0E1D7;
  height: 250px;
  width: 540px;
}

.intro h1 {
  font-family: 'Handlee', cursive;
  font-size: 3.5em;
  margin: 3px 60px;
}

.quote {
  font-family: 'Handlee', cursive; 
  font-size: 1.5em;
  font-weight: lighter;
  margin: 10px; 
}

nav {
  margin-left: 10px;
  margin-top: 20px;
}

.info-boxes {
  background: transparent;
  border: 1px solid #E0E1D7;
  color: #E0E1D7;
  display: inline;
  font-size: 1em;
  margin: 0 10px;
  padding: 10px;
}

.info-boxes p {
  display: inline;
}

.button-image {
  width: 15px;
  margin-right: 5px; 
}

p {
  font-weight: bolder;
}


.box {
  color: #0D132C;
  font-size: 1.5em;
  height: 250px;
  position: relative;
  text-align: center;
  width: 270px;
}

.photos {
  background-color: #4F5BBA;
}

.maps {
  background-color: #F6C14C;
}

.budget {
  background-color: #C8443C;
}

.locations {
  background-color: #A7BAEE;
}

.videos {
 background-color: #0D132C;
 color: #E0E1D7;
}

.flights {
 background-color: #A7BAEE;
  
}

.plans {
 background-color: #F6C14C;
}

.icon {
 height: 60px;
 margin-top: 77px;
 width: 60px;
}

.right-side {
  background-image: url("images/south-west-wing-2.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 40%;
}